body {
    color: blueviolet;
    background: black;
    margin: spx;
    font-family: 'Courier New', Courier, monospace;
}

header {
    border-bottem; solid 2px rgb (42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb (42, 122, 228);
<body>
    <section class-"chamada">
        <div class-"chamada.texto">
</div>
    <div>
         <iframe width="560" height="315"src="https://www.YouTube.com/embed/
             title="YouTube vídeo player" frameborder="0"
             allow="accelerometer; autoplay; clipboard-write; encryted-madia;
             referrerpolicy="strict-origin-when-cross-origin" allowfullscreen<>/
     </div>
 </section>  
<section class="categoria">
    <h2>filmes e  séries</h2>
    <div class="categoria-videos">
        <a href="https://www.youtube.com/watch?v=EVKYAAESOJO">
              <img scr="https://img.youtube.com/vi/EVKYAAESOJO/maxresdefaut.jpg"< >/a>
       <a heref="https://www.youtube.com/watch?v=/wd5KEaOtm4">
    <img scr="https://img.youtube.com/vi/wd5KEaOtm4/maxresdefaut.jpg"> </a>

             <a heref=" ">
                 <img src="https://img.youtube.com//v=/maxresdefaut.jpg">
       </a>
       <a heref=" ">
             <img src="https://img.youtube.com//vi//maxresdefaut.jpg">
        </a>
       <a heref=" ">
    
    

    
    
    
    
    
